<section class="superheros__section">
    <div class="superhero">
        <div class="superhero__picture">
            <div class="superhero__img">
                <img src="http://i.annihil.us/u/prod/marvel/i/mg/6/a0/55b6a25e654e6/standard_xlarge.jpg" alt="">
            </div>
            <div class="superhero__rank">1st</div>
        </div>
        <div class="superhero__info">
            <h1 class="superhero__nickname">Iron Man</h1>
            <p class="superhero__name">Anthony Stark</p>
            <p class="superhero__height">1.80mt</p>
        </div>
    </div>
    <div class="superhero">
        <div class="superhero__picture">
            <div class="superhero__img">
                <img src="http://i.annihil.us/u/prod/marvel/i/mg/6/a0/55b6a25e654e6/standard_xlarge.jpg" alt="">
            </div>
            <div class="superhero__rank">1st</div>
        </div>
        <div class="superhero__info">
            <h1 class="superhero__nickname">Iron Man</h1>
            <p class="superhero__name">Anthony Stark</p>
            <p class="superhero__height">1.80mt</p>
        </div>
    </div>
    <div class="superhero">
        <div class="superhero__picture">
            <div class="superhero__img">
                <img src="http://i.annihil.us/u/prod/marvel/i/mg/6/a0/55b6a25e654e6/standard_xlarge.jpg" alt="">
            </div>
            <div class="superhero__rank">1st</div>
        </div>
        <div class="superhero__info">
            <h1 class="superhero__nickname">Iron Man</h1>
            <p class="superhero__name">Anthony Stark</p>
            <p class="superhero__height">1.80mt</p>
        </div>
    </div>
    <div class="superhero">
        <div class="superhero__picture">
            <div class="superhero__img">
                <img src="http://i.annihil.us/u/prod/marvel/i/mg/6/a0/55b6a25e654e6/standard_xlarge.jpg" alt="">
            </div>
            <div class="superhero__rank">1st</div>
        </div>
        <div class="superhero__info">
            <h1 class="superhero__nickname">Iron Man</h1>
            <p class="superhero__name">Anthony Stark</p>
            <p class="superhero__height">1.80mt</p>
        </div>
    </div>

</section>