.superheros {
    &__section {
        background-color: lightgray;
        border-radius: 25px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30px;
        padding: 30px;
    }
}

.superhero {
    background-color: white;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    margin-bottom: 20px;
    width: 29%;
    padding: 20px;

    @media (max-width: 1270px) {
        width: 45%;
    }

    @media (max-width: 1024px) {
        width: 100%;
    }


    &__picture {
        flex-basis: 50%;
        position: relative;
    }

    &__img {
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    &__rank {
        font-size: 28px;
        position: absolute;
        border-radius: 50%;
        background-color: rgba(255, 0, 0, .8);
        top: -11px;
        right: -7px;
        color: white;
        height: 44px;
        width: 55px;
        text-align: center;
        font-weight: bolder;
        padding: 10px;
    }

    &__info {
        flex-basis: 50%;
        margin-left: 30px;
        margin-top: 50px;

        p {
            margin: 10px 0 0 0;
            font-size: 24px;
        }
    }

    &__nickname {
        color: red;
        font-size: 36px;
        font-weight: bold;
        margin: 0;
    }
}